.heading {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-variant-caps: small-caps;
    font-size: 70px;
    padding: 40px;
    text-align: center;
    margin: auto;
    background-image: linear-gradient(to right, rgb(247, 162, 106), rgb(154, 82, 236), rgb(233, 233, 106));
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: linear-gradient(to right, rgb(71, 59, 59), rgb(238, 136, 41), rgb(219, 85, 85));
}

li {
    float: left;
}

li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    font-variant-caps: small-caps;
    font-size: 30px;
    padding: 30px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(0, 0, 0);
}



.slider-wrapper {
    position: relative;
    max-width: 100rem;
}

.slider {
    display: flex;
    height: 400px;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.slider::-webkit-scrollbar {
    display: none;
}

.slider img {
    flex: 1 0 100%;
}

.slider-nav {
    display: flex;
    column-gap: 5rem;
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
}

.slider-nav a {
    width: 2rem;
    height: 2rem;
    border-radius: 20px;
    background-color: rgb(151, 209, 15);
    opacity: 0.75;
}



.flex {
    display: flex;
}

.flex>div {
    background-color: rgb(190, 104, 216);
    padding: 50px 50px;
    width: 100%;
    /* margin: 0px; */
}

.img {
    width: 100%;
    height: 250px;
    background-color: red;
}

.para {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    text-align: justify;
    background-color: rgb(193, 247, 247);
    margin: 0;
    padding: 50px 30px;
    text-indent: 75px;
}

.footer {
    border-top: 5px solid rgb(40, 43, 204);
    padding: 75px 100px;
    background-color: rgb(185, 129, 37);
    text-align: center;
    height: 150px;
    display: flex;
    font-variant-caps: small-caps;
}